body {
    text-align: center;
    font-size: 1.6rem;
}

button {
    margin: 15px auto;
    background-color: #5cd6d6;
    color: whitesmoke;
    text-shadow: 1px 1px 0 #444;
    border-radius: 16px;
    width: 250px;
    height: 80px;
    font-size: 2rem;
}

p {
    margin: 0;
    font-size: 4rem;
}

.vertical-center {
    justify-content: center;
    align-items: center;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}